<div class="top-main">
  <h1>Let's start Todo Appication !</h1>
  <p>
    優先度はつけない !
    「やるべき事」だけを書く !
    詳しく書く !
  </p>
</div>

<div class="main-guide">
  <div class="intro-1">
    <h4>タスクを見える化</h4>
    <img src="" alt="画像1">
  </div>
  <div class="intro-2">
    <h4>シンプルを極めました</h4>
    <img src="" alt="画像2">
  </div>
  <div class="intro-3">
    <h4>カテゴリ分類でわかりやすく</h4>
    <img src="" alt="画像3">
  </div>
</div>
