/* 共通部分に適用するレイアウトを作成する. */
/* 全体に適用したいscssの定義 */
body {
    font-size: 2rem;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
li{
  list-style: none;
}
/* ヘッダーのnav要素に適用 */
header{
  nav{
    height:100%;
    a{
      color:white;
      font-size:20px;
      text-decoration: none;
      &:hover {
  			color: #00FFFF;
        text-decoration:underline;
  		}
    }
  }
}
/* 入力フォーム(create,updateなど)に適用 */
.container{
  background-color: #eaeaea;
}
.form-head{
  text-align: center;
  margin:30px 0px;
  h1{
    padding:20px 0px;
  }
}
form{
  text-align: center;
  dl{
    dt{
      width: 165px;
      padding:10px 0;
      float:left;
      clear:both;
    }
    dd{
      padding:10px 0;
    }
  }
  .submit{
    margin:20px 0px;
  }
}
.btn{
  text-decoration: none;
  border: 0 none;
  font-weight: 700;
}
/* フラッシュ・エラーメッセージに適用 */
.alert{
  text-align: center;
}
.error_explanation{
  margin: 0 auto;
  ul{
    text-align: left;
    color:red;
  }
}
