/* 「戻る」ボタンのレイアウトに適用する。 */
.btn-outline-primary{
  margin:10px 0px;
}

/* ユーザーの編集画面のレイアウトに適用する。 */
.text-center{
  margin: 40px 0;
  p{
    font-size: 25px;
  }
}
.user-list{
  li{
    font-size: 30px;
  }
}
/* ログインページのレイアウトに適用 */
.container{
  .btn{
    margin:15px 0px;
  }
  p{
    text-align: center;
  }
}
